<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Trevor Banking</h1>
    <h2>
      <% if !Current.user.money.nil? || Current.user.money != 0 %>
        <%=Current.user.money %>
      <% end %>
    </h2>
</div>