<section class="pb-4">
  <div class="bg-white border rounded-3">
    
    <section class="w-100 p-4 d-flex justify-content-center pb-4">

      <form style="width: 22rem;">
        <!-- Email input -->
        <p class="text-center" style="color: green"><%= notice %></p>
        <h4 class="text-center">Login</h4>
        <br/>
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
          </div>
          <div class="text-center">
          <p>Not a member?</p>
          <%= link_to 'Create Account', new_user_path, class:"btn btn-outline-danger"%>
        </div>
        </div>      
      </form>
    </section>
  </div>
</section>