html{
    background-color: black;
    color: white;
}

table, td, th{
    border-style: solid;
    border-color: yellow;
    color: yellow;
    border-width: 1.5px;
}

a{
    color: yellow;
    text-decoration: none;
}

a:hover{
    background-color: yellow;
    color: black;
}